<!DOCTYPE html>
<html lang="en">
{{> header}}
<body>
  <br>
  <br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form action="/api/posts" method="POST">
        <div class="form-group">
          <label for="post">What's on your mind?</label>
          <textarea class="form-control" id="post" name="post" rows="1" placeholder="Say something interesting..."></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
      </form>
    </div>
  </div>
</div>
<br>

<div class="container">
  
    <div class="row">
      <div class="col-md-6">
        <h2>Your Timeline</h2>
{{#if userPosts}}
<div class="list-group" id="userPosts">  
  {{#each userPosts}}
  
  <a href='/api/posts/{{this._id}}' class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 id="posttitle" class="mb-1">{{ this.username }}</h5>
      <small>{{this.formattedDate}}</small>
    </div>
    <p id="postdesc" class="mb-1">{{ this.desc }}</p>
    <small>{{this.likes.length}}</small>
  </a>
  <a href="/api/posts/{{this._id}}/like" class="like-button">
    <img src="/favicon_io/favicon.ico" alt="Like">
  </a>
  {{/each}}
</div>
{{/if}}
{{#if friendPosts}}
<div class="list-group" id="friendPosts">
  {{#each friendPosts}}

  <a href='/:{{this._id}}' class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 id="friendposttitle" class="mb-1">{{ this.username }}</h5>
      <small>{{this.createdAt}}</small>
    </div>
    <p id="friendpostdesc" class="mb-1">{{ this.desc }}</p>
    <small>{{this.likes.length}}</small>
  </a>
  {{/each}}
  </div>
  </div>
    </div>
  </div>
{{/if}}
</div>
      <div class="col-md-6">
<h2>Users List</h2>
{{#each allUsers}}
      <div class="user">
        <div class="card text-white bg-info mb-3" style="max-width: 40rem;">
          <div class="card-body">
            <div class="card-header">{{this.username}}</div>
            <p class="card-text">Position: {{this.role}}</p>
            <p class="card-text">Online: {{this.isOnline}}</p>
            
              <a href="/api/messages/{{this._id}}" method="POST"><span class="badge bg-light">Message</span></a>
            
            
              <a href="/follow/{{this._id}}" method="POST"><span class="badge bg-light">Follow</span></a>
            
          </div>
        </div>
      </div>
    {{/each}}
    <h2>Direct Messages</h2>
{{#each allDMs}}
      <div class="dms">
        <div class="card text-white bg-info mb-3" style="max-width: 20rem;">
          <div class="card-body">
            <div class="card-header">{{@key}}</div>
            {{#each this}}
            <p class="card-text">Preview: {{this.content}}</p>
            {{/each}}
            <button type="button" class="btn btn-outline-primary btn-sm">Open DM</button>
          </div>
        </div>
      </div>
    {{/each}}
      </div>
    </div>


<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
  document.querySelectorAll('.like-button').forEach(function(likeButton) {
    likeButton.addEventListener('click', function(event) {
        event.preventDefault();
    const postId = event.target.parentElement.getAttribute('href').split('/')[3];
    fetch('/api/posts/' + postId + '/like', {
        method: 'PUT',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({ userId: 'userId' }),
    })
    .then(response => response.json())
    .then(data => console.log(data))
    .catch((error) => {
        console.error('Error:', error);
    });
    });
});
const socket = io();

socket.on('login', (data) => {
  console.log('User logged in with ID:', data.user);
});
</script>
</body>
</html>