<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css"
    href="/assets/vendor/bootswatch/dist/vapor/bootstrap.min.css">
    <title>Home</title>
</head>
<bod>
    
    <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Sociazilla</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/api/user">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/auth">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/api/user/{{userId}}profile">Profile</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form action="/api/posts" method="POST">
        <div class="form-group">
          <label for="post">What's on your mind?</label>
          <textarea class="form-control" id="post" name="post" rows="1" placeholder="Say something interesting..."></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Post</button>
      </form>
    </div>
  </div>
</div>

{{#if userPosts}}
<div class="list-group" id="userPosts">  
  {{#each userPosts}}
  
  <a href='/:{{this._id}}' class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 id="posttitle" class="mb-1">{{ this.username }}</h5>
      <small>{{this.createdAt}}</small>
    </div>
    <p id="postdesc" class="mb-1">{{ this.desc }}</p>
    <small>{{this.likes.length}}</small>
  </a>
  {{/each}}
  </div>
  {{/if}}
{{#if friendPosts}}
<div class="list-group" id="friendPosts">
  {{#each friendPosts}}
 
  <a href='/:{{this._id}}' class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 id="friendposttitle" class="mb-1">{{ this.username }}</h5>
      <small>{{this.createdAt}}</small>
    </div>
    <p id="friendpostdesc" class="mb-1">{{ this.desc }}</p>
    <small>{{this.likes.length}}</small>
  </a>
  {{/each}}
  </div>
  {{/if}}
  


<script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>