<!DOCTYPE html>
<html lang="en">
{{> header}}

<body>
    <h1>Welcome, {{user.username}}!</h1>
    <p>Email: {{user.email}}</p>
    <p>City: {{user.city}}</p>
    <!-- Add more profile information here -->
    
    <!-- Form for updating user information -->
    <form id="updateProfile" >
  <fieldset>
    <legend>Update Account Info</legend>
    <div class="row">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" name="email" placeholder="Email">
    <label for="floatingEmail">Email Address</label>
  </div>
  </div>
  <div class="row">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" name="city" placeholder="City">
    <label for="floatingLocation">City</label>
  </div>
  </div>
  <div class="row">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" name="role" placeholder="Role">
    <label for="floatingLocation">Role</label>
  </div>
  </div>
  <div class="row">
  <div class="form-floating mb-3">
    <input type="password" class="form-control" name="password" placeholder="Change Password">
    <label for="floatingLocation">Change Password</label>
  </div>
  </div>
    </br>
    <div>
    <button type="submit" class="btn btn-primary">Update Profile</button>
  </fieldset>
  </form>
  </br>
  <form id="deleteProfile">
    <fieldset>
  <button type="submit" class="btn btn-primary">Delete Account</button>
  </form>
  </fieldset>
    <script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
<script>
  $('#updateProfile').on('submit', function(e) {
    e.preventDefault();

    var data = $(this).serialize();
    var url = '/api/user/{{user._id}}';

    $.ajax({
      type: 'PUT',
      url: url,
      data: data,
      success: function(data) {
        window.location.href = '/api/user/{{user._id}}/profile';
        console.log('Profile updated');
        form.reset();
      },
      error: function(err) {
        console.log(err);
      }
    })
  });
  $('#deleteProfile').on('submit', function(e) {
    e.preventDefault();

    var data = $(this).serialize();
    var url = '/api/user/{{user._id}}/delete';

    $.ajax({
      type: 'DELETE',
      url: url,
      data: data,
      success: function(data) {
        window.location.href = '/api/auth';
        console.log('Profile deleted');
        form.reset();
      },
      error: function(err) {
        console.log(err);
      }
    })
  });
</script>
</html>